/* Ustawienie głównego kontenera */
.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Nagłówek */
h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
}

/* Styl przycisku Snapshot */
.snapshot-btn {
    display: block;
    margin-bottom: 15px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.snapshot-btn:hover {
    background-color: #0056b3;
}

/* Filtry */
.filters {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    background: #eef2f5;
    border-radius: 5px;
    margin-bottom: 15px; /* Zapewnia odstęp od tabeli */
}

/* Usuń dziwne znaczniki listy (::marker) */
.filters form {
    list-style: none; 
    padding: 0;
    margin: 0;
}

.filters form p {
    margin: 5px 0;
}

.filters button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filters button:hover {
    background-color: #45a049;
}

/* Tabela */
.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Nagłówki tabeli */
th {
    background-color: #007BFF;
    color: white;
    padding: 12px;
    text-transform: uppercase;
    text-align: left;
}

th:hover {
    background-color: #0056b3;
}

/* Komórki tabeli */
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Efekt hover na wierszach */
tr:hover {
    background-color: #e6f2ff;
}

/* Paginacja */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 15px;
    flex-wrap: wrap;
}

.page-link {
    padding: 8px 12px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background 0.3s ease-in-out;
}

.page-link:hover {
    background-color: #0056b3;
}

.page-info {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}
.pagination ul {
    list-style: none;  /* Usuwa kropki */
    padding: 0;  
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.pagination li {
    display: inline-block;
}

.pagination a, .pagination span {
    padding: 8px 12px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background 0.3s ease-in-out;
}

.pagination a:hover {
    background-color: #0056b3;
}